* {
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    background-color: #f8afc2;
    padding: 2rem;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffd9e2;
    padding: 2rem;
}

.menu {
    display: flex;
    flex-direction: column;
    line-height: 2.5rem;
    padding: 0 7rem;
}

.basket {
    display: flex;
    flex-direction: column;
    padding: 0 7rem;
}

.basket_item {
    padding: 1rem;
}
