body {
  min-width: 350px;
  text-align: center;
  color: #1b1b64;
  background: #e4e495;
}

.container {
  padding: auto;
  background-color: white;
  height: 95%;
  min-height: 50vh;
  width: 90%;
  margin: auto;
  border: 2px solid black;
  border-radius: 5px;
}

.position {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.width50 {
  width: 30px;
}

.block {
  height: 45px;
  margin: 1%;
  border: 1px solid blue;
  align-items: center;
  justify-content: center;
}

code {
  color: #912222;
  background: #363535;
  text-align: left;
}

article {
  text-align: left;
  padding: 10px;
}